@import url(http://fonts.googleapis.com/css?family=Arimo);
@font-face {
  font-family: CenturyGothic;
  src: url(font.ttf);
}

body{
  background-color:#eee;
  color:#222;
  font-size:16px;
  font-family: 'CenturyGothic';
}

.contenido{
  width:870px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contenido p{
  text-align:justify;
}
@media (max-width: 900px) {
  .contenido {
    width:100%;
  }
}



h2{
  color:#8d2166;
}

h4{
  color:#ee8122;
}
.eslogan{
  margin-top:40px;
}
.social_icon{
  border-radius:70px;
  color:#fff;
  background-color:#444;
  /*width:90px;*/
  /*padding:7px;*/
  padding:7px;
  padding-left:10px;
  padding-right:10px;

}

.navbar{
  background-color:#c11e49;
  border-color: #c11e49;
  text-align:center;
}

.full_link{
  display:inline-table;
}
.icono{
  width:70px;
}
.testimonios{
  width:80%;
  height:160px;
  margin-left: auto;
  margin-right: auto;
}

#navbar li a{
  color:#ffffff;
}
.navbar-inverse .navbar-nav > .active{
  color: #000;
  background: #920730;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #000;
  background: #920730;
}

.air{
  height:50px;
}
.topBanner{
  margin-top:-20px;
  width:100%;
  height:230px;
  position:relative;
  overflow:hidden;
}

.topBanner img {
  position:absolute; display:block;
  height:auto;
  top:0;
  left:0;
}

.panel-heading{
  background-color:#c11e49 !important;
  color:#ffffff !important;
}
.servicios{
  color:#c11e49 !important;
}

.text_center{
  text-center:center;
}
/* Centramos el Menú */
.navbar,.nav{
  width:100% !important;
}
.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar .nav > li:hover {
  background-color:#ee8122;
}

.navbar-inner {
  text-align:center;
}

.header{
  height:200px;
  width:100%;
}
.header img{
  padding:15px;
  text-align:center;
  width:250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.header2{
  height:80px;
  width:100% !important;
}
.header2 img{
  text-align:center;
  width:100px;
  display: block;
}

.morado{
  background-color:#8d2166 !important;
}
.naranja{
  background-color: #ee3a24 !important;
}
.amarillo{
  background-color: #ee8122 !important;
}
.space{
  height:10px;
}
.texto_blanco{
  color:#fff;
}
.texto_naranja{
  color:#ee3a24!important;
}
.texto_morado{
  color: #ba1d12;
  font-weight: bold;
}
.texto_negro{
  color:#333;
}
.texto_amarillo{
  color:#ee8122;
  padding:25px;
}

.servicio img{
  max-width:100px !important;
}
.lateral{
  margin-top:45px;
}
/*.feature img{
  text-align:center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.feature p{
  text-align:left;
}*/
.feature:hover{
  /*background-color: #ee3a24 !important;*/
  border-style: solid;
    border-color: #ee3a24;
}

.fulldiv{
  text-align:center;
  padding:40px;
  color:#ffffff;
  padding-bottom:60px;
}

.btn-trans{
  background:rgba(255,255,255,.5);
  color:#fff;
}

.footer
{
  padding:20px;
  width:100% !important;
  background-color:#ee8122;
  /*position:absolute;*/
  background-image:url(../img/footer.jpg);
  background-size: 100% auto;
  bottom:0;
  left:0;
  color:#ffffff;
}
.footer2
{
  padding:20px;
  width:100% !important;
  background-color:#ee8122;
  background-size: 80px 60px;
  /*position:absolute;*/
  background-image:url(../img/footer2.jpg);
  background-size: 100% auto;
  bottom:0;
  left:0;
  color:#333;
}

input:-moz-placeholder {
    color: #999999;
    opacity: 1;
}

input::-moz-placeholder {
    color: #999999;
    opacity: 1;
}


*::-webkit-input-placeholder {
  color: #ffffff !important;
}
*:-moz-placeholder {
  /* FF 4-18 */
  color: #ffffff !important;
}
*::-moz-placeholder {
  /* FF 19+ */
  color: #ffffff !important;
}
*:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff !important;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #ffffff !important;
  font-size:12px;
  padding-left:15px;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #ffffff !important;
  font-size:12px;
  padding-left:15px;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #ffffff !important;
  font-size:12px;
  padding-left:15px;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #ffffff !important;
  font-size:12px;
  padding-left:15px;
}

.modal-body{
  text-align:justify !important;
  padding:30px !important;
}
.modal-header{
  border-color:rgba(255,255,255,.0);
}
.modal-title{
  color:#fff !important;
  text-align:center;
}
.modal-footer{
  border-color:rgba(255,255,255,.0);
}

.psicoterapia{
  background-color:#8d2166;
}
.talleres{
  background-color:#aa1d3f;
}
.escuelas{
  background-color:#d72045;
}
.empresas{
  background-color:#e52e26 !important;
}
.deportistas{
  background-color:#ee8122;
}
.conferencias{
  background-color:#8d2166;
}

.social{
  background-color:#8d2166;
}

.index{
  background-color:#8d2166;
}


.inputFoot{
  /*background-color:#dd6e1d;*/
  background-color:#dd6e1d;
  /*text-shadow: 0px 0px 1px #000;*/
  color:#333;
}
.inputFootGris{
  background-color:#999;
  color:#333;
}
.inputFootGris:hover{
  background-color:#dd6e1d !important;
  color:#fff;
}

.message{
  width:100%;
}

.contactInfo{
  text-align:center;
}

.flexslider{
  background:none;
  border:none;
  box-shadow:none;
  margin:0px;
}

.slide_text{
  /*width:600px;*/
  margin-top:-80px;
  font-size:40px;
  color:#fff;
  padding-left:80px;
  /*text-shadow:0px 0px 3px #000;*/
  text-align:center;
  background-color:#222;
}


@media (max-width: 768px) {
  .logo_interior{
    margin-left:auto;
    margin-right:auto;
  }
  .topBanner img{
    width:160%;
    margin-left:-20%;
  }
  .flexslider{
    width:130% !important;
    height:150px;
  }
  .testimonios{
    height:auto;
  }
  .slide_title{
    font-size:20px !important;

  }
  .slide_text{
    width:100%:
    height:300px;
    background:#444;
    font-size:12px;
    margin-top:20px;
    padding-left:0px;
    text-align:left;
  }


}


/*Testimonios*/
/* carousel */
#quote-carousel
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
  border-left: none;
  margin: 0;
}

.item blockquote img {
  margin-bottom: 10px;
}

.item blockquote p:before {
  /*content: "\f10d";
  font-family: 'Fontawesome';*/
  float: left;
  margin-right: 10px;
}



/**
MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #quote-carousel
  {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }

}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) {

  /* Make the indicators larger for easier clicking with fingers/thumb on mobile */

  #quote-carousel .carousel-indicators {
    bottom: -20px !important;
  }
  #quote-carousel .carousel-indicators li {
    display: inline-block;
    margin: 0px 5px;
    width: 15px;
    height: 15px;
  }
  #quote-carousel .carousel-indicators li.active {
    margin: 0px 5px;
    width: 20px;
    height: 20px;
  }
}

.servicio{  
  min-height: 130px;
}
.servicio:hover{
  background-color:#ddd;
  border-radius:10px;
  color:#ba1d12 !important;
  text-decoration:none !important;

}
.texto_naranja:hover{
 text-decoration:none !important;
 color:#ba1d12 !important; 
}

